.main h5{
    font-size: 0.8rem;   
    font-weight: 700;   
  }
  .main h6{
    font-size: 0.8rem;
    font-weight: 500; 
  }
  .main p{
    font-size: 0.7rem;
    font-weight: 400; 
  }
  .main .card{
   width: 90%;
    
  }
  .main .card:hover{
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
transition: all 0.4s;
cursor: pointer;
  }
  .main .card-body{
    padding: 0px 5px;
  }
  .main .author{
    font-size: 0.6rem;
    font-weight: 300; 
  }
  .main .comment{
    font-size: 0.6rem;
    font-weight: 400; 
  }